<% cache(post) do %>
  <div class="post panel panel-default" <%= id(post) %> >
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= post.title %>
        <span class="raty pull-right" 
          data-score=<%= post.weighted_average %>
          data-path=<%= vote_post_path(post) %> 
          data-read-only=<%= !user_signed_in? %> >
        </span>
      </h2>
    </div>
    <div class="panel-body">
      <%= post.body %>
    </div>
    <div class="panel-footer">
      <% if user_signed_in? %>
        <div class="favourite_link pull-right">
          <% unless post.has_favourite %>
            <%= render partial: 'add_favourite_link', locals: { post: post } %>
          <% else %>
            <%= render partial: 'remove_favourite_link', locals: { post: post } %>
          <% end %>
         </div>
      <% end %>
      <div>
        <%= link_to 'Show', post %> |
        <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>
