<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'header/navbar' %>
  </header>
  <div class="container side-collapse-container">
    <div class="row">
      <aside class="col-sm-2 hidden-xs">
        <h3>Most rated</h3>
        <%= render partial: 'aside/post', collection: most_rated_posts, locals: { badge: :rated } %>
      </aside>
      <main class="col-sm-8">
        <%= flash_messages %>
        <div>
          <%= yield %>
        </div>
      </main>
      <aside class="col-sm-2 hidden-xs">
        <h3>Most visited</h3>
        <%= render partial: 'aside/post', collection: most_visited_posts, locals: { badge: :visited } %>
      </aside>
    </div>
    <footer class="row">
      <br/>
      <p class="text-muted text-center">2016 Minsk Blog</p>
      <p>
        <%= debug(params) %>
      </p>
    </footer>
  </div>
</body>
</html>
